/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: bold;
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container_small {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #D4C17F;
}

.link-email {
  font-weight: bold;
  color: #D4C17F;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../../img/header/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 959px) {
  .header {
    padding-top: 15px;
    min-height: unset;
    row-gap: 50px;
  }
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-row_mobile {
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  background-color: #242B33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header__top-row_mobile .header__nav {
  display: block;
  margin-top: 80px;
}
.header__top-row_mobile .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}
.header__top-row_mobile .header__nav-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header__title-scroll {
  margin-top: 80px;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 34px;
  }
}
.header__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header__nav {
  display: block;
}
@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}
.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.nav__list {
  display: flex;
  column-gap: 40px;
  letter-spacing: 0.05em;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.info {
  font-size: 18px;
  position: relative;
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
}
.info_map, .info_tel {
  padding-left: 35px;
}
.info_map::before, .info_tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
}
.info_map::before {
  background-image: url(../../img/icons/map.svg);
}
.info_tel::before {
  background-image: url(../../img/icons/phone.svg);
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: bold;
  line-height: 1.15;
  opacity: 0.02;
}
.benefits__row {
  display: flex;
  column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}
.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-item__img {
  margin-bottom: 53px;
}
.benefits-item__text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.35;
  text-align: center;
}
@media screen and (max-width: 959px) {
  .benefits-item__text {
    font-size: 16px;
  }
}

.flats {
  position: relative;
  overflow: hidden;
}
.flats::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: bold;
  line-height: 1.15;
  opacity: 0.02;
  top: -30px;
}
.flats__title {
  margin-bottom: 88px;
}
.flats__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 959px) {
  .flats__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.card:hover {
  color: #fff;
}
.card::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  z-index: 2;
  opacity: 0;
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover::after {
  opacity: 1;
}
.card__title {
  z-index: 4;
  position: absolute;
  bottom: 44px;
  left: 50px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 18px;
    bottom: 25px;
    left: 35px;
  }
}
.card__img {
  width: 100%;
  transition: transform 0.2s ease-in;
}
.card:hover .card__img {
  transform: scale(1.1);
}

.cta {
  padding-top: 180px;
  padding-bottom: 180px;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../../img/cta/cta-bg.jpg), #c4c4c4;
}
.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 17px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}
.cta__description {
  line-height: 1.5;
}
@media screen and (max-width: 959px) {
  .cta__description {
    font-size: 14px;
  }
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 30px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.form__input {
  height: 50px;
  padding: 12px 20px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: border 0.2s ease-in;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  border: 1px solid #D4C17F;
}
.form__text {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}
.form__btn {
  padding: 12px 20px;
  height: 50px;
  background-color: #D4C17F;
  font-weight: bold;
  transition: filter 0.2s ease-in;
}
.form__btn:hover {
  filter: brightness(105%);
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: bold;
  line-height: 1.15;
  opacity: 0.02;
  line-height: 1.5;
}
.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 1;
}
.video__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}
.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
}
@media screen and (max-width: 959px) {
  .video__link:hover .video__icon {
    transform: translate(-50%, -50%) scale(1);
  }
}

.section-map {
  padding: 180px 0;
  position: relative;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}
.section-map::before {
  content: "V";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: bold;
  line-height: 1.15;
  opacity: 0.02;
  line-height: 1.9;
}
.section-map__title {
  margin-bottom: 88px;
}
.map {
  height: 358px;
  width: 100%;
  background-color: #BEBEBE;
}

.feedback {
  padding-bottom: 180px;
}
.feedback__title {
  margin-bottom: 38px;
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 50px;
  font-size: 14px;
  background-color: #2D343C;
}
.footer__logo {
  margin-top: -12px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 0.05em;
}
.footer__socials {
  display: flex;
  gap: 22px;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */