@import '../base/vars';

.cta {
  padding-top: 180px;
  padding-bottom: 180px;

  background: linear-gradient(
    180deg,
    $dark 10.42%,
    rgba(36, 43, 51, 0) 50.52%,
    $dark 90.1%
  ), 
  linear-gradient(
    0deg,
    rgba(36, 43, 51, 0.9),
    rgba(36, 43, 51, 0.9)
  ),
  url(../../img/cta/cta-bg.jpg),
  #c4c4c4;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 17px;
  }

  &__description {
    line-height: 1.5;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px 30px;
    justify-content: center;
    align-items: center;
  }

}

