.flats {
  position: relative;
  overflow: hidden;

  &::before {
    content: "III";

    right: calc(50% + 555px);
    transform: translate(50%, 0);
    
    @include decorNumber;
    top: -30px;
    
  }

  &__title {
    margin-bottom: 88px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;

    @include mediaTablet {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))
    }
  }
}