@import '../base/vars';

.footer {
  padding-top: 72px;
  padding-bottom: 50px;

  font-size: 14px;

  background-color: $footer-bg;

  @include mediaTablet {
    padding-top: 42px;
    padding-bottom: 20px;
  }

  &__logo {
    margin-top: -12px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-between;

    @include mediaTablet {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 38px;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 0.05em;
  }

  &__socials {
    display: flex;
    gap: 22px;
    margin-top: 20px;
  }
}