.info {
  font-size: 18px;
  position: relative;

  @include mediaTablet {
    font-size: 14px;
  }

  &_map, &_tel {
    padding-left: 35px;

    &::before {
      content: "";

      position: absolute;
      left: 0px;
      top: 50%;
      width: 21px;
      height: 21px;
      transform: translate(0, -50%);
      
      background-repeat: no-repeat;
    }
  }

  &_map::before {
    background-image: url(../../img/icons/map.svg);
  }

  &_tel::before {
    background-image: url(../../img/icons/phone.svg);
  }
}